<section id="about" class="about-section">
  <h2>Про Нас</h2>
  <p>
    Фонд SCP – міжнародна організація, що спеціалізується на захопленні,
    утриманні та дослідженні аномальних об'єктів. Наша місія полягає в
    забезпеченні безпеки людства через контроль над незрозумілими та потенційно
    небезпечними явищами.
  </p>
  <p>
    Ми працюємо у тісній співпраці з урядами та науковими установами по всьому
    світу, щоб ідентифікувати, класифікувати та нейтралізувати аномальні
    загрози.
  </p>
</section>
