<section id="services" class="services-section">
  <h2>Наші Послуги</h2>
  <div class="service-cards">
    <div class="service-card">
      <h3>Захоплення</h3>
      <p>
        Оперативні заходи для ідентифікації та затримання аномальних об'єктів.
      </p>
    </div>
    <div class="service-card">
      <h3>Утримання</h3>
      <p>
        Надання безпечних умов для зберігання та дослідження аномальних
        об'єктів.
      </p>
    </div>
    <div class="service-card">
      <h3>Дослідження</h3>
      <p>
        Наукові дослідження для розуміння природи та властивостей аномальних
        явищ.
      </p>
    </div>
  </div>
</section>
